* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
        url('/static/img/Car-Black-Background-PC-Desktop-Wallpaper-34121.jpg    ');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.home h1 {
    font-size: 5rem;
    font-weight: 900 !important;
    letter-spacing: 3px;
}

.bt-home {
    background-color: #ffc107;
    border: none;
    color: #000;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
    min-width: 250px;
}

.bt-home:hover {
    background-color: #00000000;
    border: 1px solid #e0a800;
    color: #ffffff;
}