* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
}

.main-penalidades {
    background-color: black;
    width: 100%;
    height: 90vh;

}

.main-penalidades h1 {
    font-size: 5rem;
    font-weight: 900 !important;
    letter-spacing: 3px;

    margin-top: 100px;

}